<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%- include('navbar', {links: links}) %>
  <form action="" method="POST">
    <label for="secret_word">Secret Word</label>
    <input id="secret_word" name="secret_word" type="text" placeholder="Enter the Secret..."/>
    <button>Check Word</button>
  </form>
</body>
</html>
